<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
</head>
<body>
<h1>新建项目</h1>
<form action="{% url 'add_project' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    {% csrf_token %}
    {{ project }}
    <input type="submit" value="提交">
</form>
</body>
</html>