<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>项目列表</title>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap.min.js" type="text/javascript"></script>
    {#    <link rel="stylesheet" href="/static/bootstrap.min.css"/>#}
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <style>
        table {
            border-bottom: 1px solid rgb(211, 202, 221);
        }

        table thead, table tr {
            border-top: 1px solid rgb(211, 202, 221);
        }

        table td, table th {
            padding: 5px 10px;
            font-size: 12px;
            color: rgb(95, 74, 121);
        }

        table tr:nth-child(even) {
            background: rgb(223, 216, 232)
        }

        table tr:nth-child(odd) {
            background: #FFF
        }
    </style>
</head>
<body>
<h1>项目列表</h1>
<a href="/edit_project/">添加项目</a>
<div class="row">
    <table>
        <thead>
        <th>项目ID</th>
        <th>URL</th>
        <th>通知邮箱</th>
        <th>监控频率</th>
        <th>项目状态</th>
        <th>最近一次监控时间</th>
        <th>操作</th>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.project_id }}</td>
                <td>{{ project.url }}</td>
                <td>{{ project.notify_emails }}</td>
                <td>{{ project.get_duration_display }}</td>
                <td>{{ project.get_enable_display }}</td>
                <td>{{ project.last_monitor_time }}</td>
                <td>
                    <button><a href="{% url 'edit_project' project.project_id %}">修改</a></button>
                    |
                    <button><a href="{% url 'delete_project' project.project_id %}">删除</a></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>