<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <!--延迟加载总开关 全局启用延迟加载关联对象-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--是否开启积极延迟加载 按需加载关联对象的属性，当启用时使用对象任意属性将会立刻加载所有关联对象-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--指定触发加载关联对象的方法 指定clone方法会加载所有关联对象,其余equals,toString,hashCode方法仍然延迟加载关联对象-->
        <setting name="lazyLoadTriggerMethods" value="clone"/>
    </settings>

    <typeAliases>
        <typeAlias type="mybatis.query.User" alias="User"/>
        <typeAlias type="mybatis.query.UserQueryObject" alias="UserQueryObject"/>
        <typeAlias type="mybatis.many2one.Department" alias="Department"/>
        <typeAlias type="mybatis.many2one.Employee" alias="Employee"/>
        <!--<typeAlias type="mybatis.one2many.Department" alias="Department"/>-->
        <!--<typeAlias type="mybatis.one2many.Employee" alias="Employee"/>-->
        <typeAlias type="mybatis.many2many.Teacher" alias="Teacher"/>
        <typeAlias type="mybatis.many2many.Student" alias="Student"/>
        <typeAlias type="org.mybatis.caches.ehcache.EhcacheCache" alias="Ehcache"/>
    </typeAliases>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/query/UserMapper.xml"/>
        <package name="mybatis.many2one"/>
        <!--<package name="mybatis.one2many"/>-->
        <package name="mybatis.many2many"/>
    </mappers>
</configuration>