<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--Setting-->
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--localCacheScope设置为STATEMENT后Mybatis一级缓存失效-->
        <setting name="localCacheScope" value="SESSION"/>
    </settings>

    <typeAliases>
        <package name="com.danyl.core.bean"/>
    </typeAliases>
</configuration>