<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.one2many.DepartmentMapper">

    <resultMap id="dept_mapping" type="Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <!--映射集合
            property：对象中集合属性
            column：要传入select中参数的值；因为在one2many中，从one方拿many方，就是要使用one方的主键作为值，查询many
            ofType：在集合中的对象的类型(不要使用javaType)
            select：要发送的SQL
        -->
        <!--<collection property="employees" column="id" ofType="Employee" select="mybatis.one2many.EmployeeMapper.selectByDeptId"/>-->

        <!--使用内联的方式-->
        <collection property="employees" ofType="Employee">
            <id column="eid" property="id"/>
            <result column="ename" property="name"/>
        </collection>
    </resultMap>

    <insert id="add" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="Department">
        INSERT INTO dept (name) VALUES (#{name})
    </insert>

    <!--<select id="get" parameterType="long" resultMap="dept_mapping">-->
        <!--SELECT id,name FROM dept WHERE id=#{id}-->
    <!--</select>-->
    <select id="get" parameterType="long" resultMap="dept_mapping">
        SELECT dept.id,dept.name,employee.id eid,employee.name ename FROM dept LEFT JOIN employee ON dept.id=employee.dept_id WHERE dept.id=#{id}
    </select>

    <update id="updateRelation">
        UPDATE employee SET dept_id=#{deptId} WHERE id=#{empId}
    </update>
</mapper>